.navbar {
  display: block !important;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  color: #6f707d;
  font-family: 'Marcellus', serif;
}

#heading{
  font-size: 55px;    
  color: #2b304d;
}

.temp{
  place-items: center;
}

.temp-details > p >span, .grey{
  color: #a3acc1;
  font-size: 12px;
}

.temp-details1 > p >span, .grey{
  color: #a3acc1;
  font-size: 9px;
}

.fa{
  color: #a5a5b1
}

*:focus{
  outline: none;
}

.sliderArrows {
  text-align: left;
  padding: 10px 10px 0px;
}

.sliderArrows .slider-arrow {
  font-size: 0;
  border: none;
  padding: 10px 0px;
  margin-right: 30px;
  width: 50px;
}
.sliderArrows .arrow-prev {
  background: url(./assets/images/arrow-right.svg) no-repeat !important;
}

.sliderArrows .arrow-next {
  background: url(./assets/images/arrow-left.svg) no-repeat !important;
}

.sliderArrows .arrow-prev:hover {
  background: url(./assets/images/arrow-right-hover.svg) no-repeat !important;
}

.sliderArrows .arrow-next:hover {
  background: url(./assets/images/arrow-left-hover.svg) no-repeat !important;
}

